@import url('https://fonts.googleapis.com/css2?family=Saira:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;500&display=swap');

*{
    margin: 0;
    padding:  0;
    outline: 0;
    box-sizing: border-box;
}

html, body{
    height: 100vh;
    font: 400 14px Roboto, sans-serif;
    background: #f0f0f5;
    -webkit-font-smothing: antialiased; 
}

h2 {
    font: 400 30px Saira, sans-serif;
    color: red;
}

h3 {
    font: 400 20px Poppins, sans-serif;
    color: red;
}